[user]
    name = skkzsh
    email = skkzsh12@gmail.com
    signingkey = skkzsh

[core]
    excludesfile = ~/.gitignore
    pager = less -iMR -x4
    ; pager = lv -c

[color]
    ui = auto

[alias]
    a = add
    ap = add -p
    au = add -u
    ci = commit
    st = status
    br = branch
    co = checkout
    unstage = reset HEAD --
    last = log -1 HEAD
    di = diff
    dc = diff --cached
    d1 = diff HEAD~ 
    lg = log
    lp = log -p
    lo = log --oneline
    lg = log --graph
    ls = log --stat --summary
    rc = rm --cached
    ; = stash

[diff "to_utf8"]
    textconv = nkf -w
[diff "sqlite3"]
    textconv = echo .dump | sqlite3
[diff "gpg"]
    textconv = gpg -o-

[include]
    path = .gitconfig.contrib
    path = .gitconfig.local

[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true

[github]
    user = skkzsh

# [difftool "sourcetree"]
#     cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#     path =
# [mergetool "sourcetree"]
#     cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#     trustExitCode = true
