[include]
    path = .gitconfig.d/user.gitconfig
    path = .gitconfig.d/common.gitconfig
    path = .gitconfig.d/alias.gitconfig
    path = .gitconfig.d/diff.gitconfig
    path = .gitconfig.d/contrib.gitconfig
    path = .gitconfig.local

