## 補完時に大文字・小文字を区別しない
set completion-ignore-case on
## Directory名の補完時に最後にSlashを付ける
# set mark-directories on
## History Search
"\C-n":history-search-forward
"\C-p":history-search-backward
## 直ちに補完候補を一覧
set show-all-if-ambiguous on
## tilde展開
# expand-tilde off

### Key Bind
### 入力支援に使うようにしよう
$if Bash
	## Pipe
	"\C-xg": " | grep"
	"\C-xl": " | less"
	## Option
	#"\C-xh": " --help"
	## Directory
	"\C-xh": " ~/"
	"\C-xd": " ~/Dropbox/"
	"\C-xe": " ~/.emacs.d/"
	"\C-xo": " ~/.opera/"
	## su
	#"\C-xi": "sudo /etc/init.d/"
$endif

